@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    font-family:var(--bs-font-sans-serif);
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --bs-gutter-x:  1.5rem;  
    --bs-gutter-y:  0;  
} 

* { 
    box-sizing: border-box;
} 

* { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    outline: none !important;
} 

body { 
    margin: 0; 
    font-family: var(--bs-font-sans-serif); 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    background-color: #fff; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

body { 
    color: #777777; 
    font-size: 18px; 
    line-height: 32px; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
} 

html { 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

:root { 
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
} 

@media (prefers-reduced-motion: no-preference){ 
  :root { 
    scroll-behavior: smooth;
  } 
}     

.position-r { 
    position: relative;
} 

.overflow-h { 
    overflow-x: clip;
} 

.mb-150 { 
    margin-bottom: 150px;
} 

.reservation-part { 
    padding-right: 15px;
} 

@media (max-width: 1700px){ 
  .mb-150 { 
    margin-bottom: 120px;
  } 
}     

*,:after,:before { 
    box-sizing: border-box;
} 

.row { 
    --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0; 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: calc(var(--bs-gutter-y) * -1); 
    margin-right: calc(var(--bs-gutter-x) * -.5); 
    margin-left: calc(var(--bs-gutter-x) * -.5);
} 

.align-items-center { 
    align-items: center!important;
} 

.row { 
    margin-right: -20px; 
    margin-left: -20px;
} 

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
} 

.fadeInRight { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight;
} 

.animation-delay-5 { 
    -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
} 

.book-jamun { 
    position: absolute; 
    bottom: 0; 
    right: 0;
} 

.book-leaf-big { 
    position: absolute; 
    top: -70px; 
    right: 0;
} 

.row > *  { 
    flex-shrink: 0; 
    width: 100%; 
    max-width: 100%; 
    padding-right: calc(var(--bs-gutter-x) * .5); 
    padding-left: calc(var(--bs-gutter-x) * .5); 
    margin-top: var(--bs-gutter-y);
} 

@media (min-width: 768px){ 
  .col-md-12 { 
    flex: 0 0 auto; 
    width: 100%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-5 { 
    flex: 0 0 auto; 
    width: 41.66666667%;
  } 
}     

.row > *  { 
    padding-right: 20px; 
    padding-left: 20px;
} 

@media (min-width: 1200px){ 
  .col-xl-7 { 
    flex: 0 0 auto; 
    width: 58.33333333%;
  } 
}     

.text-center { 
    text-align: center!important;
} 

img { 
    vertical-align: middle;
} 

img { 
    height: auto; 
    max-width: 100%; 
    border: none; 
    outline: none;
} 

.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
} 

.section-heading { 
    padding-bottom: 55px;
} 

.section-heading.section-heading-left { 
    padding-bottom: 40px;
} 

.reservation-pizza { 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content; 
    margin: 0px auto;
} 

@media (max-width: 1700px){ 
  .reservation-pizza { 
    max-width: 570px;
  } 
}     

h5 { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h5 { 
    font-size: 1.25rem;
} 

h5 { 
    padding: 0; 
    margin: 0; 
    font-weight: 700; 
    color: #111111;
} 

h5 { 
    font-size: 22px; 
    line-height: 38px; 
    font-weight: 600;
} 

.section-heading .sub-title  { 
    color: #f22e3e; 
    position: relative; 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content; 
    margin-bottom: 10px;
} 

.section-heading .sub-title::before { 
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: calc(100% + 15px); 
    background: #f22e3e; 
    width: 90px; 
    height: 2px; 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
} 

h2 { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h2 { 
    font-size: calc(1.325rem + .9vw);
} 

@media (min-width: 1200px){ 
  h2 { 
    font-size: 2rem;
  } 
}     

h2 { 
    padding: 0; 
    margin: 0; 
    font-weight: 700; 
    color: #111111;
} 

h2 { 
    font-size: 40px; 
    line-height: 55px;
} 

.book-leaf { 
    position: absolute;
} 

.book-leaf.book-leaf-1 { 
    top: -1%; 
    left: -10%;
} 

.book-leaf.book-leaf-2 { 
    top: 21%; 
    left: -13%;
} 

.book-leaf.book-leaf-3 { 
    top: 33%; 
    left: -3%;
} 

@media (min-width: 768px){ 
  .col-md-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

@media (min-width: 1200px){ 
  .col-xl-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

.form-button { 
    padding-top: 10px;
} 

.form-group { 
    padding-bottom: 40px;
} 

button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    text-transform: none;
} 


button { 
    outline: none !important; 
    text-decoration: none; 
    -webkit-box-shadow: unset !important; 
    box-shadow: unset !important; 
    -webkit-transition: all 400ms ease; 
    transition: all 400ms ease;
} 

button { 
    border: 0;
} 

.btn-ct { 
    font-weight: 600; 
    border: 2px solid #fbb200; 
    border-radius: 50px; 
    font-size: 20px; 
    padding: 12px 30px; 
    background: #fbb200; 
    color: #ffffff; 
    display: -webkit-inline-box; 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    text-transform: uppercase;
} 

button:not(:disabled) { 
    cursor: pointer;
} 

.btn-ct:hover { 
    color: #ffffff; 
    background: #f22e3e; 
    border-color: #f22e3e;
} 

input { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

.form-control { 
    display: block; 
    width: 100%; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    border-radius: .25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.form-control { 
    border: 1px solid #e4ded9; 
    border-radius: 6px; 
    padding: 12px 20px; 
    font-size: 16px; 
    font-weight: 500; 
    font-family: "Montserrat", sans-serif; 
    color: #777777;
} 


@keyframes fadeInRight { 
  0% {  
      opacity: 0; 
      -webkit-transform: translate3d(200px, 0, 0); 
      transform: translate3d(200px, 0, 0); 
      opacity: 0; 
      transform: translate3d(200px, 0px, 0px); 
  }  
  100% {  
      opacity: 1; 
      -webkit-transform: none; 
      transform: none; 
      opacity: 1; 
      transform: none; 
  }  

} 
@keyframes fadeInLeft { 
  0% {  
      opacity: 0; 
      -webkit-transform: translate3d(-200px, 0, 0); 
      transform: translate3d(-200px, 0, 0); 
      opacity: 0; 
      transform: translate3d(-200px, 0px, 0px); 
  }  
  100% {  
      opacity: 1; 
      -webkit-transform: none; 
      transform: none; 
      opacity: 1; 
      transform: none; 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-BHslN.style-BHslN {  
   padding-left: 52.88px;  
    opacity: 1;  
}  
#style-x3AtK.style-x3AtK {  
   visibility: visible;  
}  
#style-8hho8.style-8hho8 {  
   visibility: visible;  
}  
#style-EkpjM.style-EkpjM {  
   visibility: visible;  
}  
#style-Upv79.style-Upv79 {  
   visibility: visible;  
}  
#style-Q5yAj.style-Q5yAj {  
   visibility: visible;  
}  


.rez input{
    width: 260px;
    margin-bottom: 40px;
    border: 1px solid #e4ded9;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #777777;
    padding: 8px 20px;
    
}

.rez{
    display: flex;
    gap: 40px;
    width: 50%;
}

.bnb button{
    font-weight: 600;
    border: 2px solid #fbb200;
    border-radius: 50px;
    font-size: 20px;
    padding: 12px 30px;
    background: #fbb200;
    color: #ffffff;

    
}
.bnb button:hover{
    background-color: #dc3545;
    border: 2px solid #dc3545;
    transition: 0.5s;
}



.inim{
    display: flex;
    width: 100%;

}

.tc{
    margin-left: 49%;
    bottom: 0px;
    position: absolute;
    top: 0px;
}





@media only screen and (min-width: 200px) and (max-width: 750px) {
    .rez{
        display: flex;
        flex-direction: column;
        padding-left: 60px;
    }
    .pza{
        img{
            display: none;
        }
        button{
            margin-left: 90px;
            width: 200px;
        }
    }
  }