@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    font-family:var(--bs-font-sans-serif);
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
  }  
* { 
    box-sizing: border-box;
} 

* { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    outline: none !important;
} 

body { 
    margin: 0; 
    font-family: var(--bs-font-sans-serif); 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    background-color: #fff; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

body { 
    color: #777777; 
    font-size: 18px; 
    line-height: 32px; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
} 

html { 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

:root { 
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
} 

@media (prefers-reduced-motion: no-preference){ 
  :root { 
    scroll-behavior: smooth;
  } 
}     

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
} 

.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
} 

.section-heading { 
    padding-bottom: 55px;
} 

@media (max-width: 1700px){ 
  .section-heading  { 
    max-width: 510px;
  } 
}     

*,:after,:before { 
    box-sizing: border-box;
} 

h5 { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h5 { 
    font-size: 1.25rem;
} 

h5 { 
    padding: 0; 
    margin: 0; 
    font-weight: 700; 
    color: #111111;
} 

h5 { 
    font-size: 22px; 
    line-height: 38px; 
    font-weight: 600;
} 

.sub-title  { 
    color: #f22e3e; 
    position: relative; 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content; 
    margin-bottom: 10px;
} 

.section-heading .sub-title::before { 
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: calc(100% + 15px); 
    background: #f22e3e; 
    width: 90px; 
    height: 2px; 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
} 

h2 { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h2 { 
    font-size: calc(1.325rem + .9vw);
} 

@media (min-width: 1200px){ 
  h2 { 
    font-size: 2rem;
  } 
}     

h2 { 
    padding: 0; 
    margin: 0; 
    font-weight: 700; 
    color: #111111;
} 

h2 { 
    font-size: 40px; 
    line-height: 55px;
} 


@keyframes fadeInLeft { 
  0% {  
      opacity: 0; 
      -webkit-transform: translate3d(-200px, 0, 0); 
      transform: translate3d(-200px, 0, 0); 
      opacity: 0; 
      transform: translate3d(-200px, 0px, 0px); 
  }  
  100% {  
      opacity: 1; 
      -webkit-transform: none; 
      transform: none; 
      opacity: 1; 
      transform: none; 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-bOlRR.style-bOlRR {  
   visibility: visible;  
}  


.yaz{
    margin-left: 50px;
}


.homecard1{
    margin-top: 120px;
}

.card1{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 40px;
    .il{
        margin-left: 22px;
        width: 350px;
        height: 340px;
        overflow: hidden;
    }
}
.card1__card{
    overflow: hidden;
}


.card1__tp{
    display: flex;
    // justify-content: space-around;
    gap: 35%;
    padding-left: 15px;
    padding-top: 44px;
    .p2{
        color: #f22e3e;
        font-size: 22px;
        font-weight: 600;
    }
    .p1{
        color: #111111;
        font-size: 22px;
        font-weight: 600;
    }
    
}

.card1__icon{
    display: flex;
    padding-left: 15px;
    gap: 5px;
    i{
        font-size: 13px;
    }
}

.card1__desc{
    padding-left: 15px;
    
    padding-top: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    font-family:var(--bs-font-sans-serif);
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
  }  
* { 
    box-sizing: border-box;
} 

* { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    outline: none !important;
} 

body { 
    margin: 0; 
    font-family: var(--bs-font-sans-serif); 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    background-color: #fff; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

body { 
    color: #777777; 
    font-size: 18px; 
    line-height: 32px; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
} 

html { 
    height: 100%; 
    margin: 0; 
    padding: 0;
} 

:root { 
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
} 

@media (prefers-reduced-motion: no-preference){ 
  :root { 
    scroll-behavior: smooth;
  } 
}     

*,:after,:before { 
    box-sizing: border-box;
} 

.section-heading .sub-title::before { 
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: calc(100% + 15px); 
    background: #f22e3e; 
    width: 90px; 
    height: 2px; 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
} 

a { 
    color: #0d6efd; 
    text-decoration: underline;
} 

a { 
    outline: none !important; 
    text-decoration: none; 
    -webkit-box-shadow: unset !important; 
    box-shadow: unset !important; 
    -webkit-transition: all 400ms ease; 
    transition: all 400ms ease;
} 

a { 
    cursor: pointer; 
    text-decoration: none; 
    color: #111111;
} 

.btn-ct { 
    font-weight: 600; 
    border: 2px solid #fbb200; 
    border-radius: 50px; 
    font-size: 20px; 
    padding: 12px 30px; 
    background: #fbb200; 
    color: #ffffff; 
    display: -webkit-inline-box; 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    text-transform: uppercase;
} 

.btn-ct.btn-small { 
    font-size: 16px; 
    padding: 6px 20px;
} 

img { 
    vertical-align: middle;
} 

img { 
    height: auto; 
    max-width: 100%; 
    border: none; 
    outline: none;
} 

.btn-ct img  { 
    margin-right: 15px;
} 

.owl-carousel .owl-item img { 
    display: block; 
    width: 100%;
} 

.owl-carousel .owl-item img { 
    width: auto;
} 

.btn-ct.btn-small img  { 
    max-width: 22px; 
    margin-right: 10px;
} 


@keyframes fadeInLeft { 
  0% {  
      opacity: 0; 
      -webkit-transform: translate3d(-200px, 0, 0); 
      transform: translate3d(-200px, 0, 0); 
      opacity: 0; 
      transform: translate3d(-200px, 0px, 0px); 
  }  
  100% {  
      opacity: 1; 
      -webkit-transform: none; 
      transform: none; 
      opacity: 1; 
      transform: none; 
  }  

} 
.btt{
    margin-left: 10px;
    margin-top: 25px;
}


.card1__card{
    border: 1px solid lightgray;
    border-radius: 40px;
    width: 450px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.card1 :hover .il{
    transform: rotate(45deg);
    transition: 0.5s;
}

.card1__card .il{
    transition: transform 0.4s ease-in-out;
}